body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161717;
    color: #ffffff;
}

header, main {
    margin: 0 auto;
    padding: 1rem;
    max-width: 900px;
}

section {
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    max-width: 600px;
}

button.btn-invia {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #b30000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center; 
    transition: background-color 0.3s;
}

label {
    font-weight: bold;
}

input, textarea, select {
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
    background: white;
    resize: none;
}

#breadcrumb {
    background-color: #fecd00;
    color: #161717;
    padding: 0.625em;
    text-align: center;
}

.intestazione {
    background-color: #161717;
    color: rgb(254, 205, 0);
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.contenuto-principale {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    body {
    padding: 0.5rem;
    }
}

