body {
    margin: auto;
    max-width: 1200px;
    background-color: #161717;
    color: #fecd00;
    font-family: Arial, sans-serif
}
main img{
width: 25%;
height: auto;
display:block;
margin: 0 auto;
}
 
h1{
    text-align: center;
    font-size: 2em;
}

main{
    text-align: center;
}