/* ==================
 * COMMON           *
 ===================*/
* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

:root {
    --mainColor: #fecd00;
    --mainAlpha: #fecd0080;
    --backgroundColor: #191919;
    --backgroundLight: #202020;
    --backgroundDark: #050505;

    --textColor: #959595;
    --unvisitedUrlColor: #005EFF;
    --visitedUrlColor: #1f53ad;
}

html,
body {
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
}

html {
    background-color: var(--backgroundDark);
}

body {
    color: var(--textColor);
    max-width: 1200px;
    margin: auto;
}

h1,
h2,
h3 {
    color: var(--mainColor);
}

a {
    text-decoration: underline;
    color: var(--unvisitedUrlColor);
}

a:visited,
a:active {
    color: var(--visitedUrlColor);
}

a:hover {
    color: var(--mainColor);
}

strong {
    font-weight: normal;
    font-size: medium;
}

p {
    margin: .5em .5em;
}

/* ==================
 * ID, ClASS        *
 ===================*/
#page-title {
    padding: .5em;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    text-align: center;
}

.fast-and-furious {
    left: -999em;
    position: absolute;
}

/* Utilizzato da menu e breadcrumb */
.ref-pagina-attuale {
    font-weight: bold;
}

.viewport-spanning {
    width: 99.5vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    text-align: center;
}

.big-border {
    padding: .5em;
    border-radius: 0.9375em;
    border: 2px solid var(--mainColor);
    box-shadow: 0 0 .5em var(--mainAlpha);
    margin: .5em;
}

.small-border {
    padding: .25em;
    border-radius: 0.75em;
    border: 1px solid var(--mainColor);
    box-shadow: 0 0 .4em var(--mainAlpha);
    margin: .4em;
}

.background {
    background-color: var(--backgroundColor);
}

/* ==================
 * SUB HEADER       *
 ===================*/

/* logo */
header img {
    text-align: left;
    width: 20%;
    margin: 2.5% 2.5% 0% 5%;
    vertical-align: middle;
}

/* Apollo's Temple */
header h1 {
    display: inline;
    font-size: 2em;
}

/* ==================
 * BREADCRUMBS      *
 ===================*/
#breadcrumb {
    color: var(--mainColor);
    background-color: var(--backgroundColor);
    padding: .5em 1.25em;
}

/* ==================
 * MENU             *
 ===================*/
#menu {
    background-color: var(--backgroundLight);
    padding: 1em 2em;
}

#menu * {
    display: inline;
}

#menu li {
    margin: .2em;
}

/* ================== (solo per home: )
 * PRESENTAZIONE    *
 ===================*/

#presentazione>article {
    display: flex;
    align-items: center;
}

#presentazione img {
    width: 35%;
    padding: 3%;
    margin: auto;
}

#catchphrase {
    color: var(--mainColor);
    display: inline;
    font-size: 1.25em;
    width: 50%;
    font-style: italic;
    line-height: 1.75em;
}

/* ==================(modificare che non ha senso)
 * CORE             *
 ===================*/
h2 {
    text-align: center;
    margin-top: 1em;
}

main h2 {
    margin: auto;
    margin-bottom: .6em;
}

#presentazione-servizi .simple-flex>article {
    padding-left: 2em;
    padding-right: 2em;
    margin: .2em;
    flex: 1;
}

#presentazione-servizi .simple-flex>article>* {
    display: block;
}

#presentazione-servizi .simple-flex>article>a {
    text-align: right;
}

.simple-flex {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

/* ================== (home->recensioni)
 * ASIDE            *
 ===================*/
#recensioni>h2 {
    text-align: center;
}

ul.simple-flex {
    list-style-type: none;
}

#recensioni li {
    margin-left: 5%;
}

.recensione {
    flex: 1 1 200px;
    margin: .25em;
    padding: 1em;
}

/* ==================
 * FOOTER           *
 ===================*/
footer {
    padding: 1em 3em;
    color: var(--mainColor);
    background-color: var(--backgroundColor);
}