.img-pt-small {
    float: none;
    width: 60%;
    min-width: initial;
    display: block;
    margin: 1em auto;
}

#risultati-ricerca h2 {
    text-align: center;
}

button.vai-a-profilo {
    padding: 2em;
    margin-bottom: 1em;
    font-size: 100%;
    border-radius: 2em;
}