:root {
    --textColor: #000;
}

html,
body {
    font-size: 100%;
    font-family: "Times New Roman", "Times", serif;
    line-height: 1.6em;
}

body {
    color: var(--textColor);
    background-color: var(--mainBackgroundColor);
    max-width: 100%;
    margin: auto;
}

a:link {
    text-decoration: underline;
    color: var(--urlColor);
}

a:visited {
    text-decoration: underline;
    color: var(--visitedUrlColor);
}

a:link:has(.logo) {
    text-decoration: none;
    width: fit-content;
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background: initial;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    color: var(--textColor);
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
    /* padding: 0.2em 0.5em; */
}

strong {
    font-weight: normal;
}

footer {
    margin-top: .5cm;
    padding-left: 0 0 0 -.5cm;
    font-size: small;
    color: var(--textColor);
    border-top: .2mm solid var(--textColor);
}

header.intestazione {
    all: initial;
    text-transform: uppercase;
}

.intestazione .logo {
    width: 2.5cm;
    display: inline;
    vertical-align: middle;
    padding: .5cm;
}

.intestazione h1 {
    display: inline;
}

#menu {
    display: none;
}

#breadcrumb {
    color: var(--textColor);
    padding: 0 0 2mm 2mm;
    font-size: 85%;
    border-bottom: .5mm solid var(--textColor);
}

#content>article,
.topic {
    border: .2mm solid var(--textColor);
    box-shadow: none;
    background-color: none;
    border-radius: 1cm;
    margin: .4cm;
    padding: .5cm;
}

.light-topic {
    border: .1mm solid var(--textColor);
    box-shadow: none;
    background-color: none;
    border-radius: 1cm;
    margin: 0.4cm;
    padding: .5cm;
}

/* ============
 * HOME
 ============ */
:root {
    --reviewImageSize: 3cm;
}

#presentazione {
    margin: .5cm;
}

#presentazione>section {
    display: inline;
    width: 18cm;
    padding: .5cm;
}

#presentazione img {
    width: 7cm;
    max-width: 7cm;
    vertical-align: middle;
    padding: .4cm;
    margin: .25cm;
    display: inline;
}

#catchphrase {
    color: var(--textColor);
    font-size: 120%;
    width: 8cm;
    display: inline-block;
    vertical-align: middle;
}

#presentazione-servizi img {
    display: block;
    width: 90%;
    position: relative;
    margin: 1% 3%;
    padding: 0;
}

#presentazione-servizi section:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#presentazione-servizi section strong {
    font-weight: bold;
}

#presentazione-servizi article {
    width: 80%;
    justify-content: center;
}

#recensioni strong {
    font-weight: bold;
}

#recensioni {
    margin: .2cm;
}

#recensioni article {
    margin: 0;
}

#recensioni .recensione dd:has(img) {
    width: 40%;
    display: inline-block;
}

#recensioni img {
    width: var(--reviewImageSize);
    float: left;
    border-radius: 25%;
    display: inline;
}

#recensioni ul {
    display: block;
    list-style: none;
    justify-content: space-around;
    padding: .2cm;
}

#recensioni .recensione {
    display: block;
}

#recensioni li {
    margin-top: .2cm;
    height: 3.7cm;
}

.voto-recensione {
    color: var(--textColor);
}

#recensioni .recensione .voto-recensione,
#recensioni .recensione .contenuto-recensione {
    margin-top: -4cm;
    padding-bottom: 4cm;
    margin-left: calc(var(--reviewImageSize) + 1cm);
    max-width: calc(100% - var(--reviewImageSize) - 1.2cm);
}

#recensioni .recensione .contenuto-recensione {
    padding-bottom: .3cm;
}