<?php
$host = "localhost";
$user = "nomeutente";
$pass = "";
$db   = "nomeutente";

$conn = new mysqli($host, $user, $pass, $db);

if ($conn->connect_error) {
    die("Connessione fallita: " . $conn->connect_error);
}
